# Production
node_modules
dist
dist-ssr
*.tsbuildinfo

# Logs
logs
*.log
npm-debug.log*

# Environment / Secrets
.env
.env.local
.env.*.local

# OS Files
.DS_Store
Thumbs.db

# Editor Settings
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json
.idea
*.swp
*.swo
